
body::before{
    display: block;
    content: '';
    height: 50px;
}

.custom-hover:hover {
  background-color: #057731;
}
  #graphic-projects .card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  #graphic-projects img {
    object-fit: cover;
    
  }

 

      




